.header__lang-link_en {
  width: 30px;
  height: 28px;
  color: #fff;
  display: block;
  font-weight: 400;
  font-size: 1.5em;
  line-height: 1.17;
  text-decoration: none;
  position: relative;
}
.header__lang-link_en::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: 0.2s;
}
.header__lang-link_en:hover::before {
  width: 100%;
}

@media (max-width: 320px) {
  .header__lang-link_en {
    width: 22px;
    height: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.11;
  }
}
