.header__lang-link_en {
  width: 30px;
  height: 28px;
  color: #fff;
  display: block;
  font-weight: 400;
  font-size: 1.5em;
  line-height: 1.17;
  text-decoration: none;
  position: relative;
}

@media (max-width: 320px) {
  .header__lang-link_en {
    width: 22px;
    height: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.11;
  }
}
