.cover__title {
  width: 100%;
  max-width: 560px;
  max-height: 152px;
  margin: 0;
  margin-bottom: 32px;
  color: #ffffff;
  text-align: center;
  font-weight: 900;
  font-size: 4.5em;
  line-height: 76px;
  text-decoration: none;
  z-index: 2;
}
@media (max-width: 320px) {
  .cover__title {
    max-width: 288px;
    margin-bottom: 16px;
    padding: 0 18px;
    font-weight: 900;
    font-size: 2em;
    line-height: 35px;
  }
}
