.place {
  width: 100%;
  max-width: 984px;
  margin-top: 80px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr minmax(min-content, max-content);
  row-gap: 48px;
  column-gap: 40px;
}

@media (max-width: 320px) {
  .place {
    width: 320px;
    grid-template-columns: 1fr;
    row-gap: 32px;
    column-gap: 0;
    margin-top: 50px;
  }
}
