.lead__subtitle {
  width: 100%;
  max-width: 640px;
  max-height: 72px;
  margin: 0 auto 64px;
  text-align: center;
  font-weight: 400;
  font-size: 1.8em;
  line-height: 36px;
}
@media (max-width: 320px) {
  .lead__subtitle {
    max-width: 288px;
    font-weight: 400;
    font-size: 1em;
    line-height: 20px;
  }
}
